h1 {
  text-align: center;
}

body {
  height: 100%;
  margin: auto;
  display:block
}

.nav-a {
  padding: 10px;
  color: white;
  background-color: crimson;
  border-radius: 5%;
}

nav {
  text-align: center;
}

#featured-property {
  text-align: center;
}

.featured-pro-text{
  margin-left: 15%;
  margin-right: 15%;  
}
